* {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(kepek/footer/body.png);
    font-size: 16px;
    color: darkblue;
    text-indent: 1.6px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.linkek {
    padding: 10px;
}

a {
    font-weight: bold;
    color: azure;
    text-decoration: none;
    border: 1px solid rgb(1, 1, 31);
    background-color: rgb(1, 1, 31);
    margin: 3px;
    font-size: 13px;
    padding: 3px;
    border-radius: 10%;
    text-align: center;
}

a:hover {
    color: aquamarine;
}

img {
    width: 100%;
}

header {
    background-image: url(kepek/footer/header.png);
}

nav {
    background-image: url(kepek/footer/header.png);
}

.linkek {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nagytarolo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    margin: 10px;
    font-size: 20px;
}

.kep {
    max-width: 100%;
}

.szoveg {
    text-align: justify;
    margin: 10px;
}

.kistarolo {
    border: 3px solid rgb(95, 95, 112);
    padding: 20px;
    margin: 10px;
}

.kiszoveg {
    text-align: center;
    max-width: 250px;
}

.logok {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-image: url(kepek/footer/header.png);
    padding: 10px;
}


@media screen and (max-width:600px) {
    .linkek {
        grid-template-columns: 1fr;
    }
    .nagytarolo {
        grid-template-columns: 1fr;
    }
    .logok {
        grid-template-columns: 1fr;
    }  
}